<footer class="footer">
	<ul class="footer-text">
		 <li class="text-muted">Copyright © 2015  <%= link_to 'GoPlex', 'http://www.goplex.co', target: '_blank' %></li>
 		<li><%= link_to "Privacy Policy", privacy_path %></li>
 		<li><%= link_to ' About GoPlex', 'http://www.goplex.co/about', target: '_blank' %></li>
 	</ul>
</footer>