<footer class="footer">
	<ul class="footer-text">
		 <li class="text-muted">Copyright © 2015  <%= link_to 'GoPlex', 'http://www.goplex.co', target: '_blank' %></li>
 		<li>Privacy Policy</li>
 		<li>About GoPlex</li>
 	</ul>
</footer>