<div class="container">
	<h4>Company Details Page</h4>

	<tr>
		<td><h5><%= @company.name %></h5></td>
		<td><h5><%= @company.company_key %></h5></td>
	</tr>


	<%= link_to "Edit Company", edit_company_path %>
	<%= link_to "All Companies", companies_path %> 
	
	


</div>