/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body {
	font-family: 'Open Sans', sans-serif;
}


h1 {
	font-size: 4.0em;
}
 .navbar {
 	background-color: #4285F4;
 	height: 70px;
 	border-bottom: none;
 }

 .navbar-left {
 	padding-top: 10px;
 }

	
 .navbar-text > a {
 	color: white;
 }

  .navbar-text  {
  	color: white !important;
  }

 .gem-info {
 	height: 50px;
 }

 .cover_header {
 	text-align: center;
 	height: 700px;
 	background: url(/assets/bg_15.jpg) #303a43; 
 	background-size: cover;
 	padding: 60px 0 60px 0;

 
 }

 .signin-box {
 	width: 370px;
 	height: 500px;
 	background-color: rgb(255,255,255, 0.4);
 	margin: 0 auto;

 }

 .talent-logo {
	padding-top: 20px;
}

#welcome {
	color: white;
	letter-spacing: 1.9px;
 	font-weight: 300;
}
 
 #get-started {
 	color: white;
 	margin-top: -5px;
 	font-weight: 300;
 }

 #comp-key {
 	height: 50px;
 	font-size: 1.2em;
 	text-align: center;
 	text-transform: uppercase;
 	border: 1px solid #5CB85C;
 }

 #comp-error-key {
  height: 50px;
  font-size: 1.2em;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #D03232;

 }



 #comp-button {
 	text-transform: none;
 }

  
.modal-body {

}

.key-container {
  width: 200px;
  text-align: center;
  margin: 0 auto;
}

#key {
  background-color: #E9E9EB;
  padding: 10px;
  font-weight: 600;
  
}


.modal-footer {
  text-align: center;
}


 input { 
   
}
::-webkit-input-placeholder { /* WebKit browsers */
    text-transform: none;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    text-transform: none;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    text-transform: none;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    text-transform: none;
}



